# Title
[]()

# Create classes

In [5]:
from with_sql_session import remote_sql_session
import secrets
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String, Text
from sqlalchemy.dialects.postgresql import UUID
import uuid


# def bulk_save_objects(new_rows, engine=None):
#     @remote_sql_session
#     def save_objects(session):
#         session.bulk_save_objects(new_rows)
#         session.commit()

#     return save_objects


Base = declarative_base()

class Article(Base):
    __tablename__ = 'articles'
    id = Column(Integer, primary_key=True)
    title = Column(String(255))
    publication = Column(String(100))
    text_body = Column(Text)
    uuid = Column(UUID)
    
class Summaries(Base):
    __tablename__ = 'initial_summaries'
    id = Column(Integer, primary_key=True)
    summary_body = Column(String(1000))
    article_uuid = Column(UUID)

new_rows = [
    Article(
        id="1", title="Test Article", 
        publication="Test Journal", text_body="This is a test text", uuid=str(uuid.uuid4())
        )
    ]

# save_objects = bulk_save_objects(new_rows)
# save_objects()

# Get table

## 1.1 using .query

In [8]:
import sys
sys.path.append(r"C:\Users\silvh\OneDrive\lighthouse\Ginkgo coding\content-summarization\src")

from db_session import *
import pandas as pd


@remote_sql_session
def get_table(session, table='articles', filter=None):
    """
    Return a database table as a pandas dataframe.
    """
    q = session.query(Article).all()
    # df = pd.DataFrame(q)
    # # df = pd.DataFrame(q.fetchall())
    # return df
    return q


table = get_table()

In [12]:
vars(table[0])

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1cb95f9e410>,
 'id': 1,
 'text_body': 'This is a test text',
 'title': 'Test Article',
 'uuid': 'a678c60d-f4a6-4727-bbaa-cc2cc958f52d',
 'publication': 'Test Journal'}

## 1.2 using .execute

In [13]:
import sys
sys.path.append(r"C:\Users\silvh\OneDrive\lighthouse\Ginkgo coding\content-summarization\src")

from db_session import *
import pandas as pd


@remote_sql_session
def get_table(session, query='SELECT *', table='articles'):
    """
    Return a database table as a pandas dataframe.
    """
    q = session.execute(f'{query} from {table}')
    df = pd.DataFrame(q.fetchall())
    return df


get_table()

,id,title,publication,text_body,uuid
0,1,Test Article,Test Journal,This is a test text,a678c60d-f4a6-4727-bbaa-cc2cc958f52d

# Update tables

In [14]:
from with_sql_session import remote_sql_session
import secrets
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String, Text
from sqlalchemy.dialects.postgresql import UUID
import uuid


Base = declarative_base()

class Publications(Base):
    __tablename__ = 'publications'
    id = Column(Integer, primary_key=True)
    name = Column(String(100))

class Article(Base):
    __tablename__ = 'articles'
    id = Column(Integer, primary_key=True)
    title = Column(String(255))
    publication = Column(String(100))
    text_body = Column(Text)
    uuid = Column(UUID)
    
class Summaries(Base):
    __tablename__ = 'initial_summaries'
    id = Column(Integer, primary_key=True)
    summary_body = Column(String(1000))
    article_uuid = Column(UUID)

In [20]:
import sys
sys.path.append(r"C:\Users\silvh\OneDrive\lighthouse\Ginkgo coding\content-summarization\src")

from db_session import *
import pandas as pd
from sqlalchemy.dialects.postgresql import insert

@remote_sql_session
def get_table(session, query='SELECT *', table='publications'):
    """
    Return a database table as a pandas dataframe.
    """
    q = session.execute(f'{query} from {table}')
    df = pd.DataFrame(q.fetchall())
    return df

def bulk_insert(new_rows, engine=None):
    @remote_sql_session
    def insert_rows(session):
        statement = insert(Publications).values(new_rows)
        session.execute(statement)
        session.commit()
        print('Rows inserted:')
        print([f"\t{row['name']}" for row in new_rows])

    return insert_rows

values = [
    {'name': 'PLOS One'},
    {'name': 'BMJ Open'},
]
# get_table()
bulk_insert(values)

# *End of Page*