# Title
[]()

In [2]:

import pandas as pd
import sys
sys.path.append(r"C:\Users\silvh\OneDrive\lighthouse\custom_python")
from silvhua import *
from datetime import datetime
# sys.path.append(r"C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\src")

In [3]:
# set the option to wrap text within cells
pd.set_option('display.max_colwidth', 100)
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

# Copied from 2023-07-01 notebook

In [ ]:
import sys
sys.path.append(r"C:\Users\silvh\OneDrive\lighthouse\Ginkgo coding\content-summarization\src")

from db_session import *
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, ForeignKey, Integer, String, Text, text
from sqlalchemy.dialects.postgresql import UUID
import uuid
import pandas as pd
# from sqlalchemy.dialects.postgresql import insert
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship


Base = declarative_base()

class Publications(Base):
    __tablename__ = 'publications'
    id = mapped_column(Integer, primary_key=True, autoincrement=True)
    # id = mapped_column(Integer, primary_key=True)
    # id = Column(Integer, primary_key=True, server_default='DEFAULT', autoincrement=True)
    name = mapped_column(String(100))
    # article_id = Column(Integer, ForeignKey('articles.id'))
    article_id = mapped_column(Integer)
    articles = relationship('Article', back_populates='publications', uselist=True)

class Article(Base):
    __tablename__ = 'articles'
    # id = Column(Integer, primary_key=True, server_default='DEFAULT', autoincrement=True)
    id = mapped_column(Integer, primary_key=True)
    title = mapped_column(String(255))
    # publication_id = Column(String(100))
    publication_id = mapped_column(Integer, ForeignKey('publications.id'), autoincrement=False)
    # text_body = Column(Text, nullable=True)
    # uuid = Column(UUID, nullable=True)
    publications = relationship('Publications', back_populates='articles')
    
class Summaries(Base):
    __tablename__ = 'initial_summaries'
    id = Column(Integer, primary_key=True)
    summary_body = Column(String(1000))
    article_uuid = Column(UUID)

@remote_sql_session
def get_table(session, query='SELECT *', table='publications'):
    """
    Return a database table as a pandas dataframe.
    """
    q = session.execute(text(f'{query} from {table}'))
    df = pd.DataFrame(q.fetchall())
    return df

@testing_session
def get_session(session):
    """
    Return a database table as a pandas dataframe.
    """
    return session

def bulk_insert(new_rows, engine=None):
    @remote_sql_session
    def insert_rows(session):
        print('Rows inserted:')
        for row in new_rows:
            session.add(row)
            session.commit()
            # print([f"\t{row['name']}"])
            # print([f"\t{row}"])

    return insert_rows

def bulk_append(article_dict, engine=None):
    @remote_sql_session
    def insert_rows(session):
        for publication, article_list in article_dict.items():
            Journal_inst = Publications(name=publication)
            session.add(Journal_inst)
            session.flush()  # Obtain the generated primary key value
            print(f'Publication : {Journal_inst.id} - {Journal_inst.name}')
            print('Rows inserted:')

            for index, row in enumerate(article_list):
                article = Article(title=row, publication_id=Journal_inst.id)
                Journal_inst.articles.append(article)
                print('\tArticle title: ', Journal_inst.articles[index].title)
                print('\tArticle publication_id: ', Journal_inst.articles[index].publication_id)
                session.commit()
    return insert_rows


Journal_inst = Publications(name='Physiology & Behavior')
journal_list = [Journal_inst]

article_dict = {
    'Physiology & Behavior': [
        'Food craving, cortisol and ghrelin responses in modeling highly palatable snack intake in the laboratory'
    ]
}


bulk_append(article_dict)()
session = get_session()
get_table()

# # get_table(table='articles')

Publication : 128 - Physiology & Behavior
Rows inserted:
	Article title:  Food craving, cortisol and ghrelin responses in modeling highly palatable snack intake in the laboratory
	Article publication_id:  128

    id                   name article_id
0  128  Physiology & Behavior       None

# Modify

In [1]:
import sys
sys.path.append(r"C:\Users\silvh\OneDrive\lighthouse\Ginkgo coding\content-summarization\src")

from db_session import *
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, ForeignKey, Integer, String, Text, text
from sqlalchemy.dialects.postgresql import UUID
import uuid
import pandas as pd
# from sqlalchemy.dialects.postgresql import insert
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship


Base = declarative_base()

class Publications(Base):
    __tablename__ = 'publications'
    id = mapped_column(Integer, primary_key=True, autoincrement=True)
    name = mapped_column(String(100))
    # article_id = Column(Integer, ForeignKey('articles.id'))
    article_id = mapped_column(Integer)
    articles = relationship('Article', back_populates='publications', uselist=True)

class Article(Base):
    __tablename__ = 'articles'
    # id = Column(Integer, primary_key=True, server_default='DEFAULT', autoincrement=True)
    id = mapped_column(Integer, primary_key=True)
    title = mapped_column(String(255))
    publication_id = mapped_column(Integer, ForeignKey('publications.id'), autoincrement=False)
    # text_body = Column(Text, nullable=True)
    # uuid = Column(UUID, nullable=True)
    publications = relationship('Publications', back_populates='articles')
    
class Summaries(Base):
    __tablename__ = 'initial_summaries'
    id = Column(Integer, primary_key=True)
    summary_body = Column(String(1000))
    article_uuid = Column(UUID)

@remote_sql_session
def get_table(session, query='SELECT *', table='publications'):
    """
    Return a database table as a pandas dataframe.
    """
    q = session.execute(text(f'{query} from {table}'))
    df = pd.DataFrame(q.fetchall())
    return df

@testing_session
def get_session(session):
    """
    Return a database table as a pandas dataframe.
    """
    return session

def bulk_insert(new_rows, engine=None):
    @remote_sql_session
    def insert_rows(session):
        print('Rows inserted:')
        for row in new_rows:
            session.add(row)
            session.commit()
            # print([f"\t{row['name']}"])
            # print([f"\t{row}"])

    return insert_rows

def bulk_append(article_dict, engine=None):
    @remote_sql_session
    def insert_rows(session):
        for publication, article_list in article_dict.items():
            Journal_inst = Publications(name=publication)
            session.add(Journal_inst)
            session.flush()  # Obtain the generated primary key value
            print(f'Publication : {Journal_inst.id} - {Journal_inst.name}')
            print('Rows inserted:')

            for index, row in enumerate(article_list):
                article = Article(title=row, publication_id=Journal_inst.id)
                Journal_inst.articles.append(article)
                print('\tArticle title: ', Journal_inst.articles[index].title)
                print('\tArticle publication_id: ', Journal_inst.articles[index].publication_id)
                session.commit()
    return insert_rows


Journal_inst = Publications(name='Physiology & Behavior')
journal_list = [Journal_inst]

article_dict = {
    'Physiology & Behavior': [
        'Food craving, cortisol and ghrelin responses in modeling highly palatable snack intake in the laboratory'
    ]
}


# bulk_append(article_dict)()
# session = get_session()
get_table()

# # get_table(table='articles')

    id                   name article_id
0  128  Physiology & Behavior       None

In [2]:
get_table(table='articles')

   id                                              title  publication_id
0  77  Food craving, cortisol and ghrelin responses i...             128

# *End of Page*