# Title
[]()

In [1]:
import pandas as pd
df = pd.DataFrame(
    {'column1': [1, 2, 3, 4],
     'column2': [5, 6, 7, 8],
     'column3': [9, 10, 11, 12]
     }
)
df

   column1  column2  column3
0        1        5        9
1        2        6       10
2        3        7       11
3        4        8       12

In [7]:
df.apply(lambda row: print(row['column2']), axis=1);

5
6
7
8

In [32]:
df.apply(lambda row: print('this is row', row.name), axis=1);

this is row 0
this is row 1
this is row 2
this is row 3

In [22]:
print(type(df.loc[0]))
df.loc[0]

<class 'pandas.core.series.Series'>

column1    1
column2    5
column3    9
Name: 0, dtype: int64

In [23]:
df.loc[0]['column2']

5

In [31]:
df.loc[0].apply(lambda row: print(row));

1
5
9

# troubleshoot

In [33]:
from functools import wraps
import sys
sys.path.append(r"C:\Users\silvh\OneDrive\lighthouse\Ginkgo coding\content-summarization\private")
sys.path.append(r"C:\Users\silvh\OneDrive\lighthouse\Ginkgo coding\content-summarization\src")
from prompts import * # .py file stored in the path above
from db_orm import * 
from sources import *
from orm_summarize import *
from article_processing import *
import os
api_key = os.environ['api_key_openai']
help(get_table)

Help on function get_table in module db_orm:

get_table(session, query='SELECT *', table='publications', limit=None, order_by='id', order='ASC', filter_statement=None)
    Return a database table as a pandas dataframe.

# Iteration 1

# *End of Page*